# Agrupando datos

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv')
df.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

Podemos empezar haciendo un ``DataFrame.groupby()``, aunque esto no nos va a dar mucha información.

In [3]:
grouped_df = df.loc.groupby('Author')
grouped_df

AttributeError: '_LocIndexer' object has no attribute 'groupby'

Esto es porque el tipo de dato que retorna groupby no es un DataFrame exactamente, sino uno agrupado, además de que no tiene una representación, al menos no por sí solo. Ahora, si usamos el método ``count()``, obtenemos más información sobre este dataset agrupado.

In [ ]:
grouped_df.count()

Aquí, el índice es el autor. Podemos usar ``.loc[]`` para buscar a través de los registros.

In [ ]:
grouped_df.count().loc['Walter Isaacson']

Si queremos pasar autor como una columna, y asignarle un índice numérico, podemos usar el método ``reset_index()``.

In [ ]:
grouped_df.count().reset_index()

También, podemos pedirle que agrupe aplicando alguna función a los datos. Para esto usamos ``.apply()``, si tenemos solo una función, y ``.agg()``, si tenemos varias funciones. Para ver esto, vamos a importar Numpy.

In [ ]:
import numpy as np

In [ ]:
# grouped_df.aggregate()